.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
h1 {
    color:white;  
    text-align: left;

}

.comeco{
    background-color:rgba(30, 72, 146, 0.75);
    background-size: 2000px 300px;
}

a {
    color:white;
    text-align: center;
    font-size: large;
}

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    
}
.PROFESSOR {
  max-width: 236px;
  max-height: 281px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  
}
